.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px 0;
  height: 200px;
  overflow: scroll;
}

.guess-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.letter-box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 3px;
  font-size: 24px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 5px 10px #000000;
}

.letter-box.correct {
  background-color: green;
}

.letter-box.present {
  background-color: yellow;
}

.letter-box.absent {
  background-color: lightgrey;
}
